@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&display=swap');


* {
    transition: all 100ms linear;
}

.red {
    color: #BC3434 !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    height: 70px;
    backdrop-filter: blur(15px);
}
.navbar-brand img {
    height: 60px;
}
.navbar-brand:hover {
    opacity: 0.7;
}
.nav-link {
    color: #BC3434 !important;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 100ms linear;
}

.nav-link:hover {
    opacity: 0.7;
}
.active {
    color: #BC3434 !important;
    font-weight: 800;
    text-shadow: 1px 1px #BC3434;
}
.active:hover {
    opacity: 1;
    cursor: default;
}
.navbar-toggler {
    background-color: #ffaaaa50 !important;
    backdrop-filter: blur(10px);
}

/*    Header    */

header {
    position: relative;
}
.header-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/Images/Wedding 01.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 500px;
}

.logo-header {
    /* position: relative; */
    z-index: 2;
    opacity: 0;
    width: 60%;
    transition: opacity 500ms ease-in;
}
.logo-header.show {
    opacity: 1;
}
section {
    position: relative;
    z-index: 10;
    background-color: white;
}
section h1 {
    margin-top: 70px;
}
#despre, #galerie, #contact {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(
        rgba(255,255,255,0) 0%,
        /* rgba(255,255,255,.2) 20%, */
        rgba(255,255,255,.5) 50%,
        rgba(255,255,255,.9) 80%,
        rgba(255,255,255,1) 100%);
}

/*  Despre  */
.echipa {
    padding-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.echipa-item {
    position: relative;
    opacity: 0.8;
}
.echipa-item h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Edu QLD Beginner', cursive;
}

/* .radial-gradient {
    z-index: 3;
    border: 3px solid red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(ellipse, transparent 60%, white 60%);
} */

.echipa-item img {
    width: 100%;
    border-radius: 50%;
}
.echipa-item:hover {
    opacity: 1;
}

main {
    position: relative;
}


.copyright p {
    font-size: 1rem;
}

.white {
    color: white;
}

h1, h3, h4, p, form {
    font-family: 'Edu QLD Beginner', cursive; 
}
p {
    font-size: 1.4rem;
}

input {
    font-size: 1.2rem;
    border-radius: 0,5rem;
}

button {
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #BC3434;
    color: white;
    border: none;
}
button:hover {
    background-color: #bc3434c4;

}

textarea {
    resize: none;
 }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #BC3434;
    color: white;
    min-height: 300px;
}

.copyright {
    width: 100%;
    font-size: 1rem;
    height: 50px;
}
hr {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    height: 1px;
}




@media screen and (max-width: 991px) {
    nav {
        margin-bottom: 0;
    }
    nav ul {
    background-color: rgba(255, 255, 255, 0.9);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
}